<h1>CSS Class Demo</h1>

<h3>Setting CSS class, based on value</h3>
<p [ngClass]="cssName">
    This is just a silly text.
    <button (click)="toggleCssClass()">Toggle CSS Class</button>
</p>

<h3>Setting CSS class, based on boolean expression</h3>
<p [ngClass]="{light: value%2===1, dark: value%2===0}">
    This is yet another silly text!
    Value = {{value}}
    <button (click)="incrementValue()">Increment Value</button>
</p>


