
:host {
    font-family: sans-serif;
}

input[type="text"], textarea {
    width: 20rem;
}

input[type="number"] {
    width: 5rem;
    text-align: center;
}

input[type="range"] {
    width: 10rem;
}

input[type="date"] {
    width: 10rem;
}

div label {
    display: inline-block;
    width: 5rem;
}

select {
    width: 10rem;
}

