<h1>Using *ngFor Demo</h1>

<h3>Looping over an Array</h3>
<div>
    <label for="count"># Persons: </label>
    <input type="number" id="count" name="count" [min]="0" [max]="10" 
           [(ngModel)]="count" (change)="onChange()">
</div>
<table *ngIf="count > 0">
    <thead>
        <tr> <th>#</th> <th>Name</th> <th>Age</th> <th>Gender</th> </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of persons; let row=index; let isEven=even" 
            [ngClass]="{stripe: isEven && (count > 2)}">
            <td>{{row+1}}</td>
            <td>{{p.name}}</td>
            <td>{{p.age}}</td>
            <td>{{p.female ? 'Female' : 'Male'}}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="count === 0" class="empty"> Sorry, no persons here! </div>

<hr/>
<h3>Looping over an Object</h3>
<table>
    <thead>
        <tr> <th>Property Name</th> <th>Property Value</th> </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of user | keyvalue">
            <td>{{p.key | titlecase}}</td>
            <td><code>{{p.value}}</code></td>
        </tr>
    </tbody>
</table>


