<h1>
    About the silly app
</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus, eius excepturi labore nemo numquam placeat
    quos ratione recusandae reprehenderit sint sit soluta ullam? Debitis, facere similique? Consectetur consequatur
    delectus deleniti dicta ea earum id illo, labore laudantium libero molestias nostrum quia veniam? Cum ducimus
    eligendi laborum, nam rerum ut!
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus, eius excepturi labore nemo numquam placeat
    quos ratione recusandae reprehenderit sint sit soluta ullam? Debitis, facere similique? Consectetur consequatur
    delectus deleniti dicta ea earum id illo, labore laudantium libero molestias nostrum quia veniam? Cum ducimus
    eligendi laborum, nam rerum ut!
</p>
