body {
    font-family: sans-serif;
}

label {
    display: block;

    & + label {
        margin-top: .5em;
    }

    span {
        display: inline-block;
        font-weight: bold;
        width: 4em;
    }

    input {
        width: 12em;

        &.ng-valid {
            border: 1px solid green;
        }

        &.ng-invalid.ng-dirty {
            border: 1px solid red;
        }
    }

    code {
        margin-left: 1em;
    }
}

fieldset + fieldset {
    margin-top: 1em;
}
