:host {
    font-family: sans-serif;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.price-table thead th {
    color: green;
}

