<form [formGroup]="form">
    <label>
        <span>Name</span>
        <input type="text" [formControl]="nameCtrl">
        <code>{{nameCtrl.errors | json}}</code>
    </label>
    <label>
        <span>Age</span>
        <input type="number" [formControl]="ageCtrl">
        <code>{{ageCtrl.errors | json}}</code>
    </label>
    <label>
        <span></span>
        <button type="submit"
                [disabled]="form.invalid"
                (click)="emitSubmit()">
            Register
        </button>
    </label>
</form>
