<h1>Using *ngif Demo</h1>

<div *ngIf="authenticated; else loginForm">
    Welcome {{user.name}} [{{user.email}}]
</div>
<ng-template #loginForm>
    <input type="email" placeholder="Your email"/>
    <input type="password" placeholder="Your password" />
    <button>LOGIN</button>
</ng-template>

<div>
    <hr />
    <button (click)="toggleAuthenticated()">
        Toggle Authenticated
    </button>
</div>


