<ng-container *ngIf="editing">
    <ng-container [ngSwitch]="fieldType">
        <input *ngSwitchCase="'text'"   [type]="fieldType" [(ngModel)]="editableValue" (keyup)="onKeyUp($event)" [minlength]="min" [maxlength]="max">
        <input *ngSwitchCase="'number'" [type]="fieldType" [(ngModel)]="editableValue" (keyup)="onKeyUp($event)" [min]="min" [max]="max">
    </ng-container>
</ng-container>

<ng-container *ngIf="!editing">
    <span *ngIf="!empty" (click)="edit()">{{propertyValue}}</span>
    <span *ngIf="empty" (click)="edit()" class="hint">{{hint}}</span>
</ng-container>
