<h1>Products App</h1>


<ng-container *ngIf="(products$ | async) as products">
    <h3>List of Object</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th><th>Name</th><th>Price</th></tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products">
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.price}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>

<ng-container *ngIf="product">
    <h3>Single Object</h3>
    <table>
        <tbody>
            <tr>
                <th>ID</th><td>{{product.id}}</td>
            </tr>
            <tr>
                <th>Name</th><td>{{product.name}}</td>
            </tr>
            <tr>
                <th>Price</th><td>{{product.price}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>
