<h1>CSS Property Demo</h1>

<h3>Setting a simple property</h3>
<p [ngStyle]="{backgroundColor: color}">
    This is just a simple silly text.
    <button (click)="background()"> Change Background </button>
</p>

<h3>Setting a property with unit</h3>
<p [ngStyle]="{'font-size.rem': size}">
    This is just yet another dummy string.
    <button (click)="fontsize()"> Change Font Size </button>
</p>

