<ng-container *ngIf="(products$ | async) as products">
    <h3>List of Object</h3>

    <ng-container *ngIf="products.length === 0">
        <p>
            No products to show. Have you authenticated with the server?
        </p>
    </ng-container>
    <ng-container *ngIf="products.length > 0">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of products" (click)="showProduct(p.id)">
                    <td>{{p.id}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.price}}</td>
                </tr>
            </tbody>
        </table>
        <p>
            <button type="button" (click)="onLogout()">LOGOUT</button>
        </p>
    </ng-container>
</ng-container>
