:host {
    font-family: Verdana, sans-serif;
}

.striped-row {
    background-color: #eee;
}

.empty {
    color: #aaa;
    font-size: 3rem;
}

table {
    width: 100%;
}

th {
    text-align: left;
}
