/* You can add global styles to this file, and also import other style files */
.field {
    padding: 1rem;
  
    label {
      display: block;
      font-size: 0.8rem;
      font-variant: small-caps;
      font-weight: 300;
    }
  
    input {
      display: block;
      width: 100%;
      padding: 0.3rem;
      border-radius: 0.5em;
    }
  }
  
  button {
      padding: 0.25rem 1rem;
  }
  
  button+button {
    margin-left: 1rem;
  }

  