.field {
    padding: 0 1rem;
}

.field + .field {
    margin-top: 0.5rem;
}

.field label {
    display: block;
    font-size: 0.9rem;
    font-variant: small-caps;
}

.field input[type="text"] {
    display: block;
    width: 100%;
    border-radius: 0.4rem;
    padding: 0.3rem;
}

