:host {
    font-family: sans-serif;
    font-size: 18px;
}

section {
    font-size: 5rem;
}

button + button {
    margin-left: 1em;

}

button {
    color: white;
    padding: .25em 1em;
    border: none;
    border-radius: .5em;
    font-size: 1.25rem;
}

.start {
    background-color: green;
}

.stop {
    background-color: orangered;
}

.clear {
    background-color: gray;
}
