<h1>The ng stop-watch</h1>

<article>
    <h2>Null Catch</h2>
    <div *ngIf="!safe">
        User: "{{user.name.first}} {{user.name.last}}"
    </div>
    <div *ngIf="safe">
        User: "{{user?.name?.first}} {{user?.name?.last}}"
    </div>
    <label>
        <span>Use null-catch:</span>
        <input type="checkbox" [(ngModel)]="safe">
    </label>
    <button (click)="toggle()" class="clear">Toggle User</button>
</article>

<article>
    <h2>Stop Watch</h2>
    <section>
        {{value}}
    </section>
    <div>
        <button (click)="start()" class="start">Start</button>
        <button (click)="stop()" class="stop">Stop</button>
        <button (click)="clear()" class="clear">Clear</button>
    </div>
</article>
