<h1>Pipe Demo</h1>

<h2>JSON</h2>
<h6>None</h6>
<pre>{{user}}</pre>
<h6>Raw</h6>
<p>{{user | json}}</p>
<h6>Formatted</h6>
<pre>{{user | json}}</pre>

<h2>Text</h2>
<ul>
    <li>
        <strong>plain</strong>
        {{text}}
    </li>
    <li>
        <strong>lower</strong>
        {{text | lowercase}}
    </li>
    <li>
        <strong>upper</strong>
        {{text | uppercase}}
    </li>
    <li>
        <strong>title</strong>
        {{text | titlecase}}
    </li>
    <li>
        <strong>slice</strong>
        {{text | slice:4:15}}
    </li>
</ul>

<h2>Number</h2>
<ul>
    <li>
        <strong>plain</strong>
        {{value}}
    </li>
    <li>
        <strong>number</strong>
        {{value | number}}
    </li>
    <li>
        <strong>digits</strong>
        {{value | number:'6.0-3'}}
    </li>
    <li>
        <strong>locale</strong>
        {{value * 10000 | number:'6.2-2':'sv'}}
    </li>
</ul>

<h2>Currency</h2>
<ul>
    <li>
        <strong>plain</strong>
        {{value}}
    </li>
    <li>
        <strong>currency</strong>
        {{value | currency}}
    </li>
    <li>
        <strong>code</strong>
        {{value | currency:'SEK'}}
    </li>
    <li>
        <strong>display</strong>
        {{value | currency:'EUR':'code'}} /
        {{value | currency:'EUR':'symbol'}} /
        {{value | currency:'EUR':'🤠'}}
    </li>
    <li>
        <strong>digits</strong>
        {{value * 10000 | currency:'SEK':'kr':'1.2-2'}}
    </li>
    <li>
        <strong>locale</strong>
        {{value * 10000 | currency:'SEK':'kr':'1.2-2':'sv'}}
    </li>
</ul>

<h2>Currency</h2>
<ul>
    <li>
        <strong>plain</strong>
        {{value}}
    </li>
    <li>
        <strong>percent</strong>
        {{value | percent}}
    </li>
    <li>
        <strong>digits</strong>
        {{value * 0.01 | percent:'0.0-3'}}
    </li>
    <li>
        <strong>locale</strong>
        {{value * 0.01 | percent:'0.0-3':'sv'}}
    </li>
</ul>

<h2>Date</h2>
<ul>
    <li>
        <strong>plain</strong>
        {{today}}
    </li>
    <li>
        <strong>date</strong>
        {{today | date}}
    </li>
    <li>
        <strong>short</strong>
        {{today | date:'short'}}
    </li>
    <li>
        <strong>medium</strong>
        {{today | date:'medium'}}
    </li>
    <li>
        <strong>long</strong>
        {{today | date:'long'}}
    </li>
    <li>
        <strong>short [sv]</strong>
        {{today | date:'short':'CET':'sv'}}
    </li>
    <li>
        <strong>medium [sv]</strong>
        {{today | date:'medium':'CET':'sv'}}
    </li>
    <li>
        <strong>long [sv]</strong>
        {{today | date:'long':'CET':'sv'}}
    </li>
    <li>
        <strong>format</strong>
        {{today | date:fmt}} /
        {{today | date:fmt:'CET':'sv'}}
    </li>
</ul>

<h2>List</h2>
<ul>
    <li>
        <strong>plain</strong>
        {{list}}
    </li>
    <li>
        <strong>slice</strong>
        {{list | slice:2:5}}
    </li>
    <li>
        <strong>for-loop</strong>
        <span *ngFor="let x of list | slice:3" class="badge">{{x}}</span>
    </li>
</ul>

<h2>Train-Case</h2>
<ul>
    <li>
        <strong>plain</strong>
        {{text}}
    </li>
    <li>
        <strong>train</strong>
        {{text | train}}
    </li>
    <li>
        <strong>lodash</strong>
        {{text | train:false}}
    </li>
</ul>

<h2>Image</h2>
<p>
    <img src="assets/people.jpg">
</p>

<p style="margin-top: 4em;"></p>
