:host {
    font-family: sans-serif;
}

h2 {
    border-top: 1px solid #aaa;
    border-bottom: 1px dotted #aaa;
}

h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}
li strong {
    display: inline-block;
    width: 8em;
    padding: .1em 0;
}

.badge {
    display: inline-block;
    background-color: darkorange;
    color: white;
    border-radius: 50%;
    padding: .25em .5em;
}

.badge + .badge {
    margin-left: .5em;
}

img {
    width: 100%;
    border-radius: 1em;
}

