<h1>Angular Forms Demo</h1>
<nav>
  <ul>
    <li>
      <a [routerLink]="'/component-oriented'" [routerLinkActive]="'active'">Component-Oriented</a>
    </li>
    <li>
      <a [routerLink]="'/template-oriented'" [routerLinkActive]="'active'">Template-Oriented</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
